name: hello-world
on: [push, pull_request]
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: |
         echo "Hello World!"
         pwd
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9' # install the python version needed

      - name: execute py script # run main.py
        run: python3 main.py
